body {
  
  padding: 0;
  margin: 0;
}
.navbar{
  
  width: 100%;
  background-color: white;
  
}
.navbar .menu{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
width: 100%;
height: 100%;
}

.menu-item{
  padding: 30px;
  background-color: white;
}

.navbar .menu .menu-item a{
  text-decoration: none;
  width: fit-content;
  padding: 0 30px;
  
  margin: 10px 0;
}
ul{
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

.dropdown-menu{
  display: block;
  width: 100%;
  background-color: #001489;
  padding: 100px 170px;
}

.dropdown-menu li{
  margin: 20px 0;
  
}

.dropdown-menu a{
  text-decoration: none;
color: white;
}

.logo{
  width: 115px;
  height: 115px;
}
.menu-item:hover{
  border-bottom: 5px solid darkblue;
}